#title {
  background-color: #ff4c68;
  font-family: 'Ubuntu', sans-serif;
}

.title-top {
  font-family: 'Montserrat-black', sans-serif;
  line-height: 1.5;
}

.meet {
  font-size: 3.5rem;
}

.tit {
  padding: 0 10%;
}

.nav-item {
  padding: 0 1rem;
}

.iphon {
  width: 600px;
  height: 500px;
  position: absolute;
}

@media(max-width:1000px) {
  .iphon {
    position: static;
    text-align: center;
  }
}

#features {
  padding: 10% 5%;
  position: relative;
  z-index: 1;
}

.fa {
  font-size: 4rem;
  width: auto;
  margin: auto;
  color: #dc3545;
}

.card {
  height: 100%;
}

.fa:hover {
  color: #ef8172;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
  padding: 7% 15%;
  font-family: 'Montserrat-black', sans-serif;
  line-height: 1.5;
}

.dog-pep, .lady-pep {
  width: 15%;
}

#press {
  background-color: #ef8172;
  padding: 7% 15%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
